*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --Questions-Font-Style: "Karla", sans-serif;
  --Answers-Font-Style: "Karla", sans-serif;
  --Nice-Pink: rgb(255, 0, 102);
  --Nice-blue: rgba(0, 153, 255, 1);
}

@keyframes fadeIn {
  0% {
    /* height: 0; */
    opacity: 0;
  }
  25% {
    /* height: 25%; */
    opacity: 0.25;
  }
  50% {
    /* height: 50%; */
    opacity: 0.5;
  }
  75% {
    /* height: 75%; */
    opacity: 0.75;
  }
  100% {
    /* height: 100%; */
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition: animation 1s ease-in;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  font-family: var(--Answers-Font-Style);
  display: flex;
  justify-content: center;
}

/* app.css */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.App {
  width: 90%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293264;

  background: url("F:\Code\React Quiz App\my-quiz-app\public\Images/first-page-blob-top.png"),
    url("F:\Code\React Quiz App\my-quiz-app\public\Images/first-page-blob-5-bottom.png"),
    #f5f7fb;
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 1rem auto;
}

.App.first-page-app {
  height: 500px;
}

.App.second-page {
  min-height: 500px;
}

.check-answers {
  border: none;
  height: 35px;
  width: 120px;
  left: 215px;
  top: 490px;
  border-radius: 10px;

  background: #4d5b9e;

  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;

  color: #f5f7fb;
  margin-top: 1rem;
  margin-bottom: -3rem;
}

/* Question Page  */
.question-page-container {
  margin: 4rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Question */
.qa {
  width: 100%;

  margin: 0.5rem auto;
  border-bottom: 1px solid black;
}
.qa--question {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

/* answers */
.qa--answers {
  margin-block: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
}
.qa--answer-button {
  min-height: 21px;
  min-width: 66px;
  border-radius: 8px;

  border: 0.79px solid #4d5b9e;

  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;

  color: #293264;

  background-color: transparent;
}

.qa--answer-button:hover {
  background: #d6dbf5;
  border: none;
}

.selected {
  background: #d6dbf5;
  border: none;
}

.correct {
  background: #94d7a2;
  border: none;
}

.wrong {
  background: #f8bcbc;
  border: none;
}

/* first page */
.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.first-page-title {
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}

.first-page--description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.btn {
  background: #4d5b9e;

  /* text styles */
  text-align: center;
  /* text-color: */
  color: #f5f7fb;

  /* animation-name: fadeIn;
  animation-duration: 1s; */
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: rgbA(77, 91, 158, 0.8);
  /* color: black; */
  font-weight: bold;
  transition: all 0.2s ease-in;
}

.first-page--button {
  /* button styles */
  height: 52px;
  width: 193px;
  left: 179px;
  top: 314px;
  border-radius: 15px;
  border: none;
  margin-block: 1rem;
  /* text styles */
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.second-page--button {
  /* button styles */
  height: 52px;
  width: 193px;
  left: 179px;
  top: 314px;
  border-radius: 15px;
  border: none;
  margin-block: 1rem;
  /* text styles */
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  /* position: relative; */
  padding: 0.4rem 1rem;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.loading {
  margin: 2rem;
  font-size: large;
  color: var(--Answers-Font-Style);
  background-color: #deebf8;
}

.score-placeholder {
  animation-name: fadeIn;
  animation-duration: 1s;
  margin: 1rem;
  margin-bottom: -3.2rem;
  font-size: smaller;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: auto;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  flex-direction: column;
}

.score {
  font-size: large;
  color: var(--Answers-Font-Style);
  background-color: #cae9ff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  /* margin-right: auto; */

  border: 0.79px solid #4d5b9e;
}

.score strong {
  color: #5fa8d3;
}

@media screen and (min-width: 560px) {
  .score-placeholder {
    flex-direction: row;
  }
}
